body{
	margin: 0;
}
#navbar{
	display: grid;
	grid-template-rows: 60px repeat(5, 40px) ;
	padding: 20px 10px 0 0;
	border-right: 4px solid #DAD6D5;
	position: fixed;
	min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
}
#navbar header{
	font-size: 35px;
	text-align: center;
	font-weight: 800;

}
.nav-link{
	text-decoration: none;
	font-size: 20px;
	text-align: right;
	color: black;
	background-color:#EEE9E7; 
	border-bottom: 1px solid #DAD6D5;
}
#main-doc{
	padding: 20px 10px 50px 20px;
	position: absolute;
	left: 330px;
}
#main-doc header{
	font-size: 35px;
	font-weight: 800;
}
#main-doc p{
	font-size: 18px;
	text-align: justify;
	padding-right: 30%;

}
#main-doc code{
	display: block;
	background-color: #EEEBCF; 
	width: 570px;
	padding: 10px 10px 10px 20px;
	border: 1px solid #B7CF90  ;
}
#main-doc a{
	text-decoration: none;
	color: #19499D;
}
#main-doc ul{
	font-size: 18px;
}
@media (min-width: 849px){
	#nav-dropdown{
		display: none;
	}

}
@media (max-width: 850px){
	#navbar{
		display: none;
	}
	#nav-button {
	    background-color: #DAD6D5;
	    color: white;
	    border: none;
	    cursor: pointer;
	    padding:20px;
	    margin-top:20px;
	}
	#nav-dropdown {
	    position: fixed;
	}
	#dropdown {
	    display: none;
	    background-color: black;
	    min-width: 200px;
	}
	#dropdown a {
	    color: white;
	    padding: 20px;
	    text-decoration: none;
	    display: block;
	    background-color: #EEE9E7;
	}

	#nav-dropdown:focus #dropdown {
	    display: block;
	}
	#main-doc{
		padding: 20px 10px 20px 20px;
		left: 50px; 
	}
	#main-doc p{
		padding-right: 5%;
	}
}
